.done-inner{
    width: 450px;
    height: 300px;
    margin: 50px auto;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: gray 2px 2px 2px;
}

.done-inner p{
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 100px 0 20px;
    border-radius: 5px;
}

.done-inner a{
    display: inline-block;
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: rgb(77, 77, 255);
    color: white;
    border-radius: 5px;
    padding: 8px 10px ;
    text-decoration: none;
}